/* src/styles/Footer.css */
.footer {
  background-color: rgb(107, 95, 95);
  /* padding: 20px; */
    height: 200px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.social-media h4,
.qr-code h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.icons a {
  margin: 0 10px;
  font-size: 1.5rem;
  color: whitesmoke;
  transition: color 0.3s ease;
}

.icons a:hover {
  color: #007bff;
}

.qr-code img {
  width: 120px;
  height: auto;
  margin-top: 10px;
}

.footer-note {
  font-size: 0.9rem;
  color: whitesmoke;
}
